ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}
.button{
    color: hsl(216, 12%, 54%);
    background-color: rgba(124, 135, 152, 0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0;
}
.button:hover{
    background-color: hsl(25, 97%, 53%);
    color:white;
}
